if assignment.learner
  footer
    if assignment.dueDate && new Date(assignment.dueDate) < Date.now()
      p Deadline has past.
    else
      if assignment.learner.post
        a(href='/learner/auth_user', target='_blank') Resubmit Submission
      else 
        a(href='/learner/auth_user', target='_blank') Start Submission