//- Author: Matt Thomson <red.cataclysm@gmail.com>

//- This work is licensed under the Creative Commons Attribution 4.0 
//- International License. To view a copy of this license, 
//- visit http://creativecommons.org/licenses/by/4.0/ or send a letter 
//- to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.

if assignment.learner
  footer
    if assignment.dueDate && new Date(assignment.dueDate) < Date.now()
      p Deadline has past.
    else
      if assignment.learner.post
        a(href='/learner/auth_user', target='_blank') Resubmit Submission
      else 
        a(href='/learner/auth_user', target='_blank') Start Submission