header
  p= assignment.name
    if assignment.graded
      span.points Score:
        br
        if assignment.learner && assignment.learner.grade
          span= assignment.learner.grade.score + '/' + assignment.graded.maxPoints
        else
          span= '/' + assignment.graded.maxPoints