doctype html
html
  head
    link(rel='stylesheet', href='/css/core.css', type='text/css')
    link(rel='stylesheet', href='/css/instructor/create.css', type='text/css')
  body
    h1 Create Assignment
    form#asform(method='post', action='/api/1.0/assignment')
      input(type='hidden', name='asId', value=assignmentId)
      div
        label(for='name') Assignment Name
        input(type='text', name='name', value=assignmentName)
      div
        textarea(name='description', placeholder='Assignment Description')
      div
        input(type='submit', value='Create Assignment')