//- Author: Matt Thomson <red.cataclysm@gmail.com>

//- This work is licensed under the Creative Commons Attribution 4.0 
//- International License. To view a copy of this license, 
//- visit http://creativecommons.org/licenses/by/4.0/ or send a letter 
//- to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.

extends ../layout

block styles
  link(rel='stylesheet', href='/css/post.css', type='text/css')
  link(rel='stylesheet', href='/css/gradeLegend.css', type='text/css')

block content
  p
    a(href='/instructor/as/' + assignment.ID + '/edit') Edit
  #feed
    section.post
      include ../includes/assignment
    each learner in assignment.learners
      include ../includes/submission
    include ../includes/legend

block scripts
  script(src='/js/collapsePost.js')
