doctype html
html
  head
    title instructor view
  body
    h1= assignmentName
    form(method="post", action="/api/1.0/assignment")
      input(type="hidden", name="name", value=assignmentName)
      input(type="hidden", name="id", value=assignmentId)
      input(type="submit", value="Create Assignment")