extends ../layout

block styles
  link(rel='stylesheet', href='/css/post.css', type='text/css')
  link(rel='stylesheet', href='/lib/css/datepicker.min.css', type='text/css')

block content
  #feed
    include ../includes/editAssignment

block scripts
  script(src='/js/datepicker.js')
