doctype html
html
  head
    link(rel='stylesheet', href='/css/grade.css', type='text/css')
  body
    h1= 'Assignment: ' + assignment.name
    p Description
    p= assignment.description
    p Students
    table#gradebook
      thead
        tr
          td Student Name
          if assignment.columnId
            td Grade
            td Set Grade
      tbody
        each learner in assignment.learners
          tr
            td= learner.name
            if assignment.columnId
              td= learner.grade
              td
                form(action='/api/1.0/assignment/' + assignment.ID + '/learner/' + learner.envUserId, method="POST")
                  input(type='number', name='grade', placeholder='Grade')
                  input(type='submit', value='Update')
