doctype html
html
  head
    link(rel='stylesheet', href='/css/grid.css', type='text/css')
  body
    #grid
      each post in posts
        //- .post(style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px;')
        .post
          div(style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px;')
            if post.type === 'image'
              img(src=post.url, style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px;',)
            else
              video(src=post.url, style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px;')
              //- video(src=post.url, style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px;', controls, controlsList='nodownload')
            .cover(style='height: ' + (post.height * 0.3) + 'px; width: ' + (post.width * 0.3) + 'px; top: ' + (post.height * -0.3) + 'px;')
              p= post.name