*, *::before, *::after {
  margin: 0;
  padding: 0;
}
html, body {
  /*background-color: #eaeaea;*/
  background-color: #fff;
  font-family: sans-serif;
}

body > footer {
  background-color: #333;
  color: #ddd;
}

body > footer > div {
  margin-top: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
