#grid {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: center;
}

.post {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post > div {
  overflow: hidden;
}

.cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 20px;
}

.cover.video {
  pointer-events: none;
}

.cover > p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cover:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
  cursor: default;
}

.post img, .post video {
  display: block;
}
