extends ../layout

block styles
  link(rel='stylesheet', href='/css/post.css', type='text/css')

block content
  #feed
    section.post
      include ../includes/assignment
    each post in media
      section.post
        include ../includes/post/post
        include ../includes/post/submit/submit